body {
  font-size: 13px;
  background-color: rgba(0, 128, 0, 0.192);
}

.navbar {
  background-color: rgba(0, 128, 0, 0.521);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.navbar-collapse {
  justify-content: space-between;
  flex-grow: 0;
}

th, td, .table {
  border: 1px solid green;
  font-size: 12px;
}

th:first-child,
td:first-child {
  width: 20px;
}

td > a {
  text-decoration:none;
  color: green;
}

td > a:hover {
  text-decoration:none;
  color: rgba(0, 128, 0, 0.534);
}

.input-group {
  width: 100px;
}

.form-control,
.btn-outline-secondary {
  height: 30px;
  font-size: 12px;
}

.buttons button,
.btn.btn-primary {
  font-size: 12px;
  background-color:  rgba(0, 128, 0, 0.521);
  border: none;
  color: black;
}

.bttn {
  margin: 0;
}

.upload {
  width: 30%;
}

.form-check-input:checked {
  background-color:darkgreen;
  border-color: green;
}