/* Visų elementų selektorius: */
* {
    box-sizing: border-box;
}
html {
    --primary-text-color: #6c757d;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: 'Mandali', sans-serif;
    color: var(--primary-text-color);
    line-height: 1.5;
}
a {
    text-decoration: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.container {
    /* calc() funkcija skirta atlikti artimetiniams veiksmams: sudėtis, atimtis, daugyba dalyba; */
    /* max-width: calc(1140px - 30px);
    width: calc(100% - 30px); */
    /* daugyba: */
    /* width: calc(100% * 2); */
    /* dalyba */
    /* width: calc(100% / 2); */
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
}

section.about {
    background-color: #f8f9fa;
    padding: 60px 0 60px;
}

section.testimonial {
    background-color: rgba(255, 194, 18, 0.25);
    padding: 60px 0 60px;
}
section.testimonial-2 {
    background-color: #f8f9fa;
    padding: 90px 0 90px;
}

section.projects {
    padding: 60px 0 60px;
}
section.team {
    padding: 60px 0 60px;
}
.row, .row-1, .row-2 {
    display: flex;
    gap: 30px;
}
.col-1 {
    width: 8.333333333333333%;
}
.col-2 {
    width: 16.66666666666667%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33333333333333%;
}
.col-5 {
    width: 41.66666666666667%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33333333333333%;
}
.col-8 {
    width: 66.66666666666667%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33333333333333%;
}
.col-11 {
    width: 91.66666666666667%;
}
.col-12 {
    width: 100%;
}

img {
    max-width: 100%;
}

p {
    line-height: 1.7;
}

#testimonial-2 p {
    line-height: 1.7;
    text-align: center;
    margin-top: 0;
}

header {
    position: fixed;
    width: 100%;
    padding: 28px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
}

.container-test {
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
}
header nav ul {
    display: flex;
    gap: 35px;
}

header nav a {
    color: var(--primary-text-color);
    font-size: 15px;
    padding: 10px 0;
}

header nav a:hover {
color: #1ce1ac;
}

header nav a.active {
    color: #1ce1ac;
    position: relative;
}

header nav a.active::after {
    content: "";
    width: 60%;
    height: 2px;
    background-color: #1ce1ac;
    position: absolute;
    bottom: 0;
    left: calc((100% - 60%) / 2);
}

#home {
    background: url(../images/hero-bg.png) no-repeat top right / cover;
}

#home .container {
    padding-top: 230px;
}

#home .discount {
    padding: 5px 10px;
    background-color: #f8f9fa;
    border: 1px solid #eceff2;
    border-radius: 3px;
}

#home .green {
    color: #1ce1ac;
}

#home h1 {
    color: #343a40;
    font-size: 60px;
    line-height: 1.25;
    margin: 20px 0 0;
}

#home p {
    font-size: 17px;
}

#home .buttons {
    display: flex;
    gap: 20px;
    padding-top: 30px;
}

#home .buttons .button {
    background: rgb(27,212,162);
    background: linear-gradient(90deg, rgba(27,212,162,1) 0%, rgba(139,241,214,1) 100%);
    color: white;
    border-radius: 25px;
    padding: 10px 25px;
    display: block;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

#home .buttons .demo {
    color: #536976;
    display: flex;
    align-items: center;
    gap: 10px;
}

#home .buttons .demo i {
    font-size: 25px;
}

#home .clients {
    padding: 140px 0 90px;
}
#home .clients ul {
    display: flex;
    justify-content: space-around;
}

#home .clients img {
    height: 38px;
}

#about, #projects, h2, h6 {
    display: flex;
    justify-content: space-around;
}

#about, #projects, #testimonial, #team, h6 {
    font-size: 16px;
}

#about h2 {
    font-weight: 900;
    font-size: 30px;
    margin-top: 18px;
    line-height: 1.3;
}
#projects h2 {
    font-weight: 900;
    font-size: 30px;
    margin-top: 18px;
    line-height: 1.3;
}


#testimonial h2 {
    font-weight: 900;
    font-size: 30px;
    margin-top: 18px;
    line-height: 1.3;
}

#testimonial-2 h2 {
    font-weight: 900;
    font-size: 40px;
    margin:0;
    line-height: 1.3;
}

#team h2 {
    font-weight: 900;
    font-size: 30px;
    margin-top: 18px;
    line-height: 1.3;
}

#about h5 {
    font-size: 22px;
    text-align: left;
}
#about, #projects, .row-1 {
    justify-content: center;
    align-items: center;
    text-align: center;
}

#about .row-2 {
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

#about img {
    display: flex;  
    padding-left: 15px;
    max-width: 100%;
    height: auto;
}

#about div.green-shadow {
    position: relative;
}

#about div.green-shadow::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 15px;
    border-radius: 30% 70% 70% 30% / 50% 50% 50% 50%;
    height: 100px;
    width: 100px;
    background: linear-gradient(to top right, transparent 0%, #1ce1ac 100%);
    opacity: 0.15;
}
#about .row-2 p {
    text-align: left;
}

#about ul li a {
    color: #f24734;
    font-size: 16px;
}
#projects .raw-3 {
    display: flex;   
}

#projects ul {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 40px;
}
#projects a.categorys-tab {
    display: block;
    font-size: 16px;
    color: #6c757d;
    background-color: #f8f9fa;
    padding: 0px 15px;
    margin: 5px 3px;
    cursor: pointer;
    line-height: 34px;
    border-radius: 3px;
}
#projects ul a:hover {
    background-color: #e9ecef;
    }

#projects ul a.active {
        position: relative;
        background-color: #1ce1ac;
        color: #fff;
        box-shadow: 0px 8px 12px 0px rgba(28, 225, 172, 0.25);
   }
#projects .box-pics{
    cursor: pointer;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 4px;
    }
    #testimonial, #team, .box-pics{
        max-width: 100%;
        height: auto;
        vertical-align: middle;
        border-radius: 4px;
        }
#projects .card {
    box-shadow: 0 5px 20px rgba(52, 58, 64, 0.1);
    border-radius: 3px;
    margin-bottom: 25px;
    align-items: start;
    display: flex;
    flex-direction: column;
    }
    #team .card {
        border-radius: 3px;
        margin-bottom: 0px;
        align-items: start;
        display: flex;
        flex-direction: column;
        background-color: white;
    }
    #projects,#team, div.card p {
        font-size: 18px;
        font-weight: 900;
        margin-bottom: 0;
        padding-left: 16px;
    }
    #projects,#team, div p.text-card {
        font-size: 16px;
        font-weight: 100;
        margin-top: 0;
        padding-bottom: 16px; 
    }

    #testimonial i {
        display: flex;
        justify-content: center;
        font-size: 50px;
    }
    #testimonial img {
        box-shadow: 0 5px 20px rgba(52, 58, 64, 0.4);
    }

    #team .col-3 {
        background-color: #f8f9fa;
    }
    
    #testimonial, #team, .col-6 {
        padding-bottom: 60px;
    }

    #team .row-2 {
        padding-bottom: 90px;
    }

    .newsletter {
        position: relative;
        margin-top: -250px;
        background: #343a40 url(../images/cta-bg.png) no-repeat 0 0 / cover;
        border-radius: 4px;
        padding: 20px;
        height: 100%;
      }
      .newsletter .row {
        justify-content: center;
        align-items: center;
      }
      
      .newsletter p {
        color: white;
        opacity: 75%;
        margin: 0;
      }
      .newsletter h3 {
        font-size: 26px;
        color: white;
        margin-bottom: 16px;
      }
      
      footer {
        background: #f8f9fa url(../images/footer-light-bg.png) no-repeat bottom;
        padding: 160px 0 70px;
      }
      
      .footer-logo {
        margin-bottom: 24px;
      }
      
      .footer-info {
        display: flex;
        gap: 55px;
      }
      
      footer h5 {
        margin-bottom: 16px;
        font-size: 22px;
        padding: 0;
        margin-top: 0;
      }
      
      .footer-column li {
        padding-bottom: 6px;
      }

      footer .col-3 p {
        margin:0;
      }
      
      input {
        background-color: rgba(255, 255, 255, 0.12);
        padding: 18px 179px 15px 45px;
        border-radius: 3px;
        height: 62px;
        margin-left: 173px;
        border: none;
        position: relative;
      }
      
      input::placeholder {
        font-weight: 600;
        font-size: 15px;
        text-align: left;
      }
      
      .input-icon {
        position: absolute;
        top: 50%;
        right: 432px;
        transform: translateY(-50%);
        color: #fff;
        opacity: 0.3;
        font-size: 20px;
      }
      
      button {
        background-color: #1ce1ac;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 91px;
        padding: 8px 24px;
        border: none;
        border-radius: 3px;
        font-size: 16px;
        color: white;
        line-height: 1.5;
      }
      
      button:hover {
        box-shadow: 0px 8px 12px 0px rgba(28, 225, 172, 0.25);
      }

      footer a {
        color: var(--primary-text-color);
        font-size: 15px;
        padding: 0;
        }

      footer a:hover {
        color: #1ce1ac;
        position: relative;
        transition: all 0.3s ease-in-out;
        }