body {
    margin: 0 auto;
    font-family: system-ui;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1024px;
}

.game {
    background-color: black;
    height: 500px;
    width: 500px;
    position: relative;
}

.player-box {
    width: 50px;
    height: 50px;
    position: absolute;
    cursor: pointer;
}

.game .points {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
}

.game .points, .game .timer {
    z-index: 1;
    pointer-events: none;
}

.game .user-points {
    color: green;
}

.game .computer-points {
    color: red;
}

.game .timer {
    color: white;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
}

.game .player-box:hover {
    opacity: 0.8;
}

.game-info {
    width: 300px;
    padding: 20px;
}

.game-info .item {
    margin: 10px 0;
}

.game-info .btn {
    background-color: #eb3535;
    display: inline-block;
    padding: 7px 12px;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}

.restart-game {
    border: 1px solid white;
    padding: 10px;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.show {
    display: inline-block;
}

.hide {
    display: none;
}